
<html>

<head>
    <title>Api SupMag</title>

</head>


<body>
    <h1>Bienvenue sur l'Api de SupMag 4.0 </h1>
    <h5>Vous êtes sur la page d'accueil</h5>

    <h1>
        <strong>Routes Disponibles</strong>
    </h1>
    <ul>

        <li><a href="/Customer/All">Customer</a></li>
        <li><a href="/Produit/All">Produit</a></li>
        <li><a href="/Magasin/All">Magasin</a></li>
        <li><a href="https://app.swaggerhub.com/apis/Zamiquie/api-sup_magasin/v1">Doc Swagger</a></li>
        <li><a href="/swagger/v1/swagger.json">Doc Swagger en JSON</a></li>
    </ul>
</body>

</html>